---
siteName: Danica Portfolio
---

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{siteName}} | {{ title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:favicon1`````" content="">


  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="site-header">
        <!-- add site wide header content here -->
        {% include "nav-basic.njk" %}
  </header>

  {{ content | safe }}


<footer>
<p>&copy;Copyright Danica Liu</p>
</footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>