  .findjob{
    text-align:center; 
   font-family: 'Patrick Hand', cursive;
   color: #b6a5e8;
  padding-top:100px;
  }
  .card-contact{
    display: grid;
    grid-gap: 1rem;
    text-align:center;
    padding:3% 15%;
    grid-template-columns: repeat(2, 1fr);
    padding:5% 10%;
  }
  .cardleft{
    align-items: center;
    position: relative;
  }
  .cardright{
    align-items: center;
    margin-top: 15px;
    position: relative;
    margin: 10px;
      }
  .cardright .input-box{
    height: 40px;
    margin: 12px 0;
    font-family: 'Patrick Hand', cursive;
  }
  .cardright .input-box input, .cardright .input-box textarea{
    height: 100%;
    width: 85%;
    border: none;
    outline: none;
    font-size: 10px;
    background: #e0e1e5;
    padding: 0 15px;
    resize: none;
    border-radius: 6px;
    font-family: 'Patrick Hand', cursive;
  }
  
  .cardright .input-box textarea{
    padding-top: 15px;
    font-family: 'Patrick Hand', cursive;
    font-size: 10px;
  }
  .cardright .button{
    display: inline-block;
    margin-top: 10px;
  }
  .cardright .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #b6a5e8;
    font-family: 'Patrick Hand', cursive; 
  }
  .button input[type="button"]:hover{
    background: #7658d0;
  }
  .topic-text{
  font-family: 'Patrick Hand', cursive; 
  margin: 0px;
  }
  .email{
    font-family: 'Patrick Hand', cursive;
    color: #afafb6;
  }
  .contactword{
    font-family: 'Gloria Hallelujah', cursive;
    font-size:12px;
  }
  @keyframes flip-icon{
    0%{
      transform:rotateY(0deg);
    }
    100%{
      transform:rotateY(360deg);
    }
  }
  .left-side:hover .icon{
    animation:2s flip linear infinite;
  }
  .icon{
    color: #bc86ef;
  
  }
  
  @media screen and (max-width: 600px){
    .card-contact{
      grid-template-columns: 1fr;
      padding:3% 15%;
    }
  }
  
  