.detailpage{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    text-align:center;
    padding:0 15%;
  }
  .dptitle{
      text-align:center;

     font-size:45px;
     padding-top:20px;
    }
  .dpword{
    font-size:25px;
  }
  .projectdetail{
       font-size:30px;
  }
  
    @media screen and (max-width: 600px){
  .detailpage{
    padding:0 10%;
  }
  .dptitle{
      text-align:center;
     font-size:40px;
    } 
   .projectdetail{
       font-size:28px;
  }
  .dpword{
    font-size:20px;
  }
  }/***************end minwidth1200*************/
  @media screen and (max-width: 350px){
  
   .dptitle{
    font-size:30px;
    } 
   .projectdetail{
    font-size:20px;
  }
  .dpword{
    font-size:12px;
  }
  }/***************end minwidth1200*************/
  