/* ================= ===========================
  ADD YOUR LAYOUT CSS HERE
  ================================================ */
//This is not necessary. Opinionated to remove default margin from body to allow things to go all the way across the screen.


@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

img{
    max-width:100%;
    width:auto;
    height:auto;
  }
body{
    margin: 0;
}

main{
    //add padding around main content on each page
}

.site-footer{
    text-align: center;
}
a{
    color:#000;
    text-decoration:none;
    display:block;
    font-size:24px;
    margin:0 auto;
    font-family: 'Patrick Hand', cursive;
  }
  nav a:hover{
    color: #b6a5e8;
  }